.optionally {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
    font-size: 20px;
    line-height: 30px;
  }
}

.optionally__title {
  margin: 0;
  margin-bottom: 34px;
  margin-left: -2px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: none;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 57px;
  }
}

.optionally__title::after {
  content: "";
  position: absolute;
  display: flex;
  height: 2px;
  background-color: #68b738;
  top: 15px;
  width: 100vw;
  left: 100%;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    top: 22px;
  }
}

.optionally__title::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    display: flex;
    height: 3px;
    background-color: #68b738;
    top: 22px;
    width: 100vw;
    right: calc(100% + 2px);
    margin-right: 20px;
  }
}

.optionally__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 15px 100px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    height: 40px;
  }
}

.optionally__checkbox-item {
  margin-bottom: 12px;
}


.optionally__checkbox-item:first-child{
  margin-bottom: 13px;
}

.optionally__checkbox {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
}

.optionally__checkbox + .optionally__name {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.optionally__checkbox + .optionally__name::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
    width: 40px;
    height: 40px;
  }
}

.optionally__checkbox:checked + .optionally__name::before {
  border-color: #cdcdcd;
  background-color: #ffffff;
  background-image: url("../img/form/checkbox-tick.svg");
  background-size: 68%;
}

.optionally__checkbox:not(:disabled) + .optionally__name:hover::before {
  border-color: #bababa;
}

.optionally__checkbox:disabled + .optionally__name {
  opacity: 0.3;
  pointer-events: none;
}

.optionally__checkbox:focus-visible + .optionally__name::before {
  outline: 2px solid #444444;
}
