.selection__wrapper {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

.selection__title {
  margin: 0;
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
}

.selection__text {
  width: 226px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 39px;
}
