.selection__wrapper {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-left: 68px;
    padding-right: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.selection__title {
  margin: 0;
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 56px;
  }
}

.selection__text {
  width: 226px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
  }
}

.selection__form-submit-wrapper {
  display: block;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 533px;
    margin-top: 34px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    width: 826px;
    margin-top: 61px;
    margin-bottom: 82px;
  }
}

.selection__form-submit {
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 100%;
    width: 282px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.selection__form-required {
  line-height: 16px;
  margin: 20px -1px 33px 0px;
  color: #000000;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 100%;
  }
}

.selection__field-coupler {
  display: block;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
