.instruction {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }
}

.instruction__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 109px;
    padding-right: 110px;
    padding-top: 26px;
  }
}

.instruction__title {
  margin: 0;
  margin-left: 1px;
  margin-bottom: 42px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 74px;
  }
}

.instruction__text {
  margin: 0;
  max-width: 200px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
    margin-right: 0;
  }
}

.instruction__text br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.instruction__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    counter-reset: my-counter;
    display: flex;
    flex-wrap: wrap;

    width: 626px;
    justify-content: space-between;

  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 75px;
  }
}

.instruction__item {

  position: relative;
    min-height: 60px;
    padding-top: 3px;
    padding-left: 80px;
    margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    width: 242px;
    padding-top: 110px;
    padding-left: 0;
    margin-bottom: 133px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-left: 0;
    margin-bottom: 59px;
  }
}

.instruction__item::after {
  @media (min-width: $tablet-width) {
    content: counter(my-counter);
    counter-increment: my-counter;
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 281px;
    line-height: 100%;
    color: #f2f2f2;
    position: absolute;
    top: -39px;
    left: 113px;
    z-index: -1;
  }
}

.instruction__item::before {
  content: "";
  position: absolute;
  left: 1px;
  top: -2px;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.instruction__item--icon-leaf::before {
  background-image: url("../img/index/instruction-leaf.svg");

  @media (min-width: $tablet-width) {
    background-size: 31px 32px;
  }
}

.instruction__item--icon-powder::before {
  background-image: url("../img/index/instruction-powder.svg");
  background-position: 51% 51%;

  @media (min-width: $tablet-width) {
    background-size: 26px 29px;
  }
}

.instruction__item--icon-eat::before {
  background-image: url("../img/index/instruction-eat.svg");

  @media (min-width: $tablet-width) {
    background-size: 25px 31px;
  }
}

.instruction__item--icon-clock::before {
  background-image: url("../img/index/instruction-clock.svg");
  background-position: 51% 51%;

  @media (min-width: $tablet-width) {
    background-size: 26px 31px;
  }
}

.instruction__item--icon-leaf::after {
  @media (min-width: $tablet-width) {
    left: 119px;
  }
}

.instruction__item--icon-powder::after {
  @media (min-width: $tablet-width) {
    left: 112px;
  }
}

