.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  width: 100%;
  height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  border: 0;
  padding: 0;
  display: block;
  cursor: pointer;
}

.button--light {
  color: #444444;
  background-color: #f2f2f2;
}
