@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2"), url("../fonts/oswald/oswaldmedium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}

.main-header {
  border-bottom: 1px solid #e6e6e6;
}

.main-header__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.toggle-navigation {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 19px;
  height: 19px;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  text-transform: uppercase;
}

.main-navigation__item {
  padding-top: 22px;
  padding-bottom: 22px;
  width: 280px;
  border-top: 1px solid #e6e6e6;
}

.main-navigation__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.invite-cooperation {
  background-color: #f2f2f2;
}

.invite-cooperation--index {
  background-color: #ffffff;
}

.invite-cooperation__wrapper {
  display: flex;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  margin-bottom: 25px;
}

.invite-cooperation__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.invite-cooperation__address {
  line-height: 20px;
  margin: 0;
  margin-left: 25px;
}

.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 40px;
  width: 100%;
  height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  border: 0;
  padding: 0;
  display: block;
  cursor: pointer;
}

.button--light {
  color: #444444;
  background-color: #f2f2f2;
}

.page-footer {
  background-color: #f2f2f2;
}

.page-footer__logo-link {
  padding-top: 40px;
  padding-bottom: 16px;
  text-align: center;
  display: block;
}

.socials__list {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.socials__item {
  min-width: 50px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.copyright__name {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.page-main::before {
  content: "";
  position: absolute;
  background-color: #63a73a;
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 302px;
  z-index: -1;
}

.promo {
  padding-top: 27px;
}

.promo__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.promo__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 29px;
}

.promo__image {
  display: block;
  margin: 0 auto 3px;
}

.promo__program-selection {
  text-decoration: none;
  max-width: 280px;
  margin: 0 auto;
}

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programs__item {
  position: relative;
  background-color: #f2f2f2;
  margin: 0 auto;
  max-width: 280px;
  padding: 29px 20px 0;
  margin-top: 20px;
}

.programs__item::before {
  content: "";
  position: absolute;
  left: 22px;
  top: 24px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}

.programs__item::after {
  content: "";
  position: absolute;
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  padding-left: 70px;
}

.programs__item--slimming::after {
  content: "";
  background-image: url("../img/programs-slimming.svg");
  background-repeat: no-repeat;
  left: 30px;
  top: 22px;
  width: 35px;
  height: 49px;
}

.programs__item--muscle-building::after {
  content: "";
  background-image: url("../img/programs-muscle-buildin.svg");
  background-repeat: no-repeat;
  left: 13px;
  top: 35px;
  width: 67px;
  height: 28px;
}

.programs__text {
  margin: 0;
  max-width: 240px;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.instruction {
  margin-top: 20px;
}

.instruction__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.instruction__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.instruction__text {
  margin: 0;
  max-width: 200px;
}

.instruction__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.instruction__item {
  line-height: 18px;
  padding-left: 80px;
  position: relative;
  margin-bottom: 20px;
}

.instruction__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center center;
}

.instruction__item--icon-leaf::before {
  background-image: url("../img/instruction-leaf.svg");
}

.instruction__item--icon-powder::before {
  background-image: url("../img/instruction-powder.svg");
}

.instruction__item--icon-eat::before {
  background-image: url("../img/instruction-eat.svg");
}

.instruction__item--icon-clock::before {
  background-image: url("../img/instruction-clock.svg");
}

.example {
  background-color: #eaeaea;
  margin-top: 50px;
}

.example__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.example__text {
  max-width: 280px;
}

.example__expenses {
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  word-wrap: break-word;
  text-transform: uppercase;
  color: #000000;
}

.results-table {
  margin-bottom: 20px;
  max-width: 285px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.results-table__weight,
.results-table__time {
  width: 125px;
  padding-top: 9px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  margin-bottom: 15px;
}

.results-table__value {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 8px;
  margin-top: 8px;
}

.results-table__description {
  display: block;
  font-size: 12px;
  line-height: 100%;
  width: 85px;
  background-color: #eaeaea;
  padding-left: 5px;
  margin-left: 19px;
  margin-bottom: -12px;
  text-transform: lowercase;
}

.slider__range {
  display: flex;
  justify-content: center;
}

.catalog {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.card-item {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid #ededed;
}

.card-item:first-child {
  border-top: 1px solid #ededed;
}

.card-item__description {
  width: 140px;
}

.card-item__wrapper {
  display: flex;
}

.card-item__link {
  width: 80px;
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.card-item__table {
  font-size: 12px;
  line-height: 16px;
  width: 140px;
  margin-top: 18px;
  margin-bottom: 22px;
}

.card-item__feature {
  padding: 0;
}

.card-item__value {
  text-align: right;
  padding: 0;
}

.card-item__button {
  text-decoration: none;
}

.more-items {
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.more-items__title {
  margin: 0;
  margin-top: 80px;
  margin-left: 10px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.more-items__title::before {
  content: url("../img/catalog/plus.svg");
  position: relative;
  bottom: 50px;
  left: 115px;
}

.more-items__text {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.more-items__button {
  text-decoration: none;
}

.extra-catalog {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
}

.extra-catalog__title {
  margin: 0;
  padding-bottom: 28px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  border-bottom: 1px solid #e6e6e6;
}

.extra-catalog__title::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 3px;
  background: #68b738;
  margin-left: 20px;
  margin-top: 13px;
}

.extra-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.extra-card-item {
  padding-bottom: 18px;
  border-bottom: 1px solid #e6e6e6;
}

.extra-card-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.extra-card-item__table {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 280px;
}

.extra-card-item__button {
  text-decoration: none;
}

.extra-card-item__feature {
  padding: 0;
}

.extra-card-item__value {
  text-align: right;
  padding: 0;
}

.promotion {
  width: 280px;
  height: 290px;
  background-image: url("../img/catalog/cat-box.jpg");
  background-repeat: no-repeat;
}

.promotion__icon {
  position: relative;
  left: 100px;
  top: 50px;
}

.promotion__text {
  margin: 0 auto;
  margin-top: 105px;
  width: 160px;
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-align: center;
  color: #ffffff;
}

.selection__wrapper {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
}

.selection__title {
  margin: 0;
  margin-bottom: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
}

.selection__text {
  width: 226px;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 39px;
}

.selection__form-required {
  line-height: 16px;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 32px;
  color: #000000;
  text-align: center;
}

.cat-data {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.cat-data__name-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 228px;
  height: 45px;
  margin-left: 10px;
  margin-bottom: 14px;
  border: 1px solid #e7e7e7;
}

.cat-data__weight-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 207px;
  height: 45px;
  margin-left: 9px;
  margin-bottom: 14px;
  border: 1px solid #e7e7e7;
}

.cat-data__weight-input::-webkit-outer-spin-button,
.cat-data__weight-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.cat-data__age-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 173px;
  height: 45px;
  margin-left: 10px;
  margin-bottom: 14px;
  border: 1px solid #e7e7e7;
}

.cat-data__age-input::-webkit-outer-spin-button,
.cat-data__age-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.program-target {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.program-target__radio-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.program-target__input {
  margin-bottom: 15px;
}

.program-target__name {
  margin-left: 15px;
}

.owner-info {
  border: 0;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.owner-info__title {
  margin: 0;
  padding-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

.owner-info__title::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 3px;
  background: #68b738;
  margin-left: 45px;
  margin-top: -8px;
}

.owner-info__email-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 218px;
  height: 45px;
  margin-left: 8px;
  margin-bottom: 14px;
  border: 1px solid #e7e7e7;
}

.owner-info__telephone-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  width: 201px;
  height: 45px;
  margin-left: 8px;
  margin-bottom: 25px;
  border: 1px solid #e7e7e7;
}

.comment-area {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.comment-area__title {
  margin: 0;
  padding-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

.comment-area__title::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 3px;
  background: #68b738;
  margin-left: 20px;
  margin-top: 15px;
}

.comment-area__comment {
  width: 280px;
  min-height: 150px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-left: 13px;
  padding-top: 10px;
  margin-bottom: 14px;
  border: 1px solid #e7e7e7;
  resize: none;
}

.optionally {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.optionally__title {
  margin: 0;
  padding-bottom: 35px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

.optionally__title::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 3px;
  background: #68b738;
  margin-left: 20px;
  margin-top: 15px;
}

.optionally__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.optionally__checkbox-item {
  margin-bottom: 20px;
}

.optionally__product-name {
  margin-left: 16px;
}
/*# sourceMappingURL=style.css.map */