.copyright {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #666666;

  &:active {
    opacity: 0.3;
    color: #68b738;
    transition: 0.25s ease-in-out;
  }
}

.copyright__name {
  font-size: 16px;
  line-height: 19px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 28px;
  }

  &:hover+.copyright__icon {
    color: #68b738;
    transition: 0.25s ease-in-out;
  }
}

.copyright__icon {
  &:hover {
    color: #68b738;
    transition: 0.25s ease-in-out;
  }
}
