.page-footer {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin-top: -4px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}


.page-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    height: 147px;
  }

  @media (min-width: $desktop-width) {
    height: 169px;
  }
}

.page-footer__logo-link {
  padding-top: 40px;
  padding-bottom: 16px;
  text-align: center;
  display: block;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.page-footer__logo-icon {
  @media (min-width: $tablet-width) {
    min-width: 142px;
  }
}
