@media (min-width: $tablet-width) {
  .socials {
    display: flex;
  }
}

.socials__list {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: $tablet-width) {
  .socials__list {
    border: 0;
  }
}

.socials__item {
  min-width: 50px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
