.card-item {
  padding-bottom: 24px;
  padding-top: 20px;
  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    width: 324px;
    padding-bottom: 38px;
    padding-left: 39px;
    padding-right: 37px;
    background: linear-gradient(to bottom, #ffffff 63px, #f2f2f2 0%);
    margin-bottom: 79px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    background: linear-gradient(to bottom, #ffffff 70px, #f2f2f2 0%);
    margin-bottom: 74px;
    padding-bottom: 39px;
  }
}

.card-item:first-child {
  border-top: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    border-top: 0;
  }
}

.card-item__description {
  width: 140px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}

.card-item__wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }
}

.card-item__link {
  width: 80px;
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    width: 156px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
    width: 149px;
    font-size: 20px;
    line-height: 22px;
    margin-left: 5px;
  }
}

.card-item__table {
  font-size: 12px;
  line-height: 14px;
  width: 144px;
  margin-top: 13px;
  margin-bottom: 21px;
  margin-left: -2px;

  @media (min-width: $tablet-width) {
    width: 254px;
    font-size: 16px;
    line-height: 17px;
    border-collapse: collapse;
    margin-left: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 175px;
    margin-left: 8px;
    margin-top: 16px;
  }
}

.card-item__feature {
  padding: 0;
}

.card-item__value {
  text-align: right;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-right: 9px;
  }
}

.card-item__row--middle .card-item__value {
  @media (min-width: $tablet-width) {
    padding-right: 4px;
  }
}

.card-item__table td {
  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.card-item__button {
  text-decoration: none;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }
}

.card-item__image {
  @media (min-width: $tablet-width) {
    margin-top: -30px;
    min-width: 168px;
    min-height: 200px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    min-width: 172px;
    min-height: 196px;
    max-height: 196px;
    margin-left: 3px;
  }
}

.card-item__image-link {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}
