.extra-catalog {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 25px;
}

.extra-catalog__title {
  margin: 0;
  padding-bottom: 28px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}

.extra-catalog__title::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #68b738;
  top: 13px;
  width: 20%;
  left: 90%;
  z-index: -1;
}

.extra-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
