.invite-cooperation {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    height: 400px;
    margin-bottom: 203px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.invite-cooperation--index {
  background-color: #ffffff;
}

.invite-cooperation__wrapper {
  display: flex;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 26px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: flex;
    justify-content: space-between;
    padding-left: 71px;
    padding-right: 69px;
    padding-top: 60px;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    right: 327px;
    top: 95px;
    max-width: 565px;
    background: #ffffff;
    padding: 60px 76px 60px 80px;
    z-index: 2;
  }
}


.invite-cooperation__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  min-width: 128px;

  @media (min-width: $tablet-width) {
    width: 155px;
    font-size: 20px;
    line-height: 26px;
  }
}

.invite-cooperation__address {
  line-height: 20px;
  margin: 0;
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    width: 160px;
    margin-top: -3px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.invite-cooperation__address span {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 18px;
  }
}

.invite-cooperation__google-map {
  border: 0;
  width: 100%;
  min-width: 320px;
  height: 362px;
  margin-bottom: -3px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
    margin-bottom: -3px;
  }
}

.invite-cooperation__map {
  @media (min-width: $desktop-width) {
    position: relative;
    bottom: 259px;
  }
}
