.main-header {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border-bottom: 0;
  }
}

.main-header__wrapper {
  width: 320px;
  min-height: 65px;
  padding-top: 11px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.main-header__logo-link {
  &:hover {
    opacity: 0.6;
    transition: 0.25s ease-in-out;
  }

  &:active {
    opacity: 0.3;
    transition: 0.25s ease-in-out;
  }
}


.main-header__logo-link--off-state {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}
