.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__item {
  position: relative;
  background-color: #f2f2f2;
  margin: 0 auto;
  width: 280px;
  padding: 29px 20px 0;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 77px 53px 35px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
    padding-bottom: 37px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 24px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      left: auto;
      right: 61px;
      top: 91px;
    }

    @media (min-width: $desktop-width) {
      left: 52px;
      top: 47px;
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;
  }
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  padding: 0;
  margin-top: 1px;
  margin-right: 0;
  margin-bottom: 29px;
  margin-left: 71px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 100%;
    margin-left: 1px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 161px;
  }
}

.programs__item--slimming {
  &::after {
    content: "";
    background-image: url("../img/index/programs-slimming.svg");
    background-repeat: no-repeat;
    left: 29px;
    top: 21px;
    width: 36px;
    height: 50px;

    @media (min-width: $tablet-width) {
      width: 141px;
      height: 194px;
      right: 92px;
      background-size: 141px 194px;
      left: 476px;
      top: 80px;
    }

    @media (min-width: $desktop-width) {
      background-size: 71px 97px;
      width: 71px;
      height: 97px;
      left: 67px;
      top: 41px;
    }
  }
}

.programs__item--muscle-building {
  &::after {
    content: "";
    background-image: url("../img/index/programs-muscle-buildin.svg");
    background-repeat: no-repeat;
    left: 13px;
    top: 35px;
    width: 67px;
    height: 28px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 113px;
      top: 135px;
      background-size: 268px 113px;
      left: 413px;
    }

    @media (min-width: $desktop-width) {
      background-size: 134px 57px;
      width: 134px;
      height: 57px;
      left: 33px;
      top: 67px;
    }
  }
}

.programs__text {
  margin: 0;
  max-width: 240px;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -5px;
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 457px;
    margin-top: 78px;
  }
}

.programs__link {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 22px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &::after {
    content: "";
    position: absolute;
    right: 22px;
    top: calc(50% - 1px);
    width: 24px;
    height: 12px;
    background: url("../img/index/stretch-arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    transform: translateY(-50%);
    transition: 0.25s ease-in-out;
    background-size: cover;
  }

  &:hover::after {
    right: 14px;
    width: 32px;
  }

  &:active {
    opacity: 0.3;
    transition: 0.25s ease-in-out;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__link--slimming {
  width: 147px;

  @media (min-width: $tablet-width) {
    width: 172px;
    padding-top: 25px;

    &::after {
      top: 40px;
      left: 133px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 1px;

    &::after {
      top: 16px;
      left: 132px;
    }
  }

}

.programs__link--pro {
  width: 143px;


  @media (min-width: $tablet-width) {
    width: 168px;
    padding-top: 26px;

    &::after {
      top: 41px;
      left: 129px;

    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 1px;

    &::after {
      top: 16px;
      left: 128px;
    }
  }
}
